* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f8f8f8;
  --font_color-primary: #fff;
  --font_color-secondary: #000;
  --vermelho: #df1a1a;
  --cinza_claro: #f8f8f8;
  --cinza_medio: #e9e9e9;
  --cinza: #6b6b6b;

  --icon-filter: invert(1);
  --logo-filter: none;

  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.25);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.4);

  --light-border: #e0e0e0;
  --light-font_color: #3d3d3d;
  --background-even: #e9e9e9;
}

body.dark-mode {
  --background-color: #303030;
  --font_color-primary: #000;
  --font_color-secondary: #fff;
  --vermelho: #bc1f1b;
  --cinza_claro: #f8f8f8;
  --cinza_medio: #2a2a2a;
  --cinza: #a7a7a7;

  --icon-filter: none;
  --icon-filter-hover: brightness(0) invert(1);
  --logo-filter: invert(1);

  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.25);
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.4);

  --light-border: #535353;
  --light-font_color: #cecece;
  --background-even: #3e3e3e;
}

body {
  background-color: var(--background-color);
  color: var(--font_color);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--cinza) var(--background-color);
}
