.item {
    cursor: pointer;
    background-color: var(--cinza_medio);
    padding: 1rem;
    min-height: 7rem;

    border-radius: 10px;
    border: 1px solid var(--cinza);
    color: var(--font_color-secondary);

    display: flex;
    align-items: center;

    transition: 0.15s ease;
}

.item:hover {
    background-color: var(--backgorund-even);
    border-color: var(--font_color-secondary);
    transform: translateY(-2px);
    color: var(--light-font_color);
}

.title {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}