.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 1.2rem 1.4rem;
    border-bottom: 1px solid var(--light-border);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.headerBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.title {
    font-size: 1.6rem;
    color: var(--font_color-secondary);
}

.subtitle {
    font-size: 0.95rem;
    padding-left: 0.6rem;
    color: var(--cinza);
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 1rem;

    flex-wrap: wrap;
}

.headerActions>* {
    flex: 1;
    min-width: 230px;
}

@media (max-width: 480px) {
    .headerActions button {
        width: 100%;
    }
}

.gridArea {
    flex: 1;
    padding: 1.2rem;
    overflow-y: auto;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.spinner {
    margin: 2rem auto;
    width: 40px;
    height: 40px;
    border: 4px solid var(--cinza_medio);
    border-top-color: var(--cinza);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.emptyMsg {
    padding: 1rem 0;
    color: var(--cinza);
    text-align: center;
}