.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.headerContainer {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--cinza);
    margin: 0 1rem;
}

.title {
    font-size: 25px;
    color: var(--font_color-secondary);
}

.subtitle {
    color: var(--cinza);
    padding-left: 0.2rem;
}

.topActions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
}

.mainArea {
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    flex: 1;
    overflow-y: auto;
}

.emptyMsg {
    padding: 1rem 0;
    color: var(--cinza);
}