.container {
  text-align: center;
  padding: 1rem;
  padding: 1rem 2rem;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid var(--cinza);
  box-shadow: rgba(0, 0, 0, 0.15) 0.1em 0.15em 0.3em;
}
.container p {
  color: var(--font_color-secondary); 
  transition: color 0.3s ease-in-out;
}
