.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mainForm {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  width: 40%;
  border-radius: 1rem;
}

.title {
  color: var(--font_color-secondary);
}

.inputArea {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
}

.roleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.roleArea_title {
  color: var(--font_color-secondary);
}

.roles {
  display: flex;
  gap: 0.5rem;
}

.roleItem {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.administrador {
  background-color: #df1a1a56;
  color: #df1a1a;
  border: 1px solid #df1a1a;
}
.redator {
  background-color: #1adf4835;
  color: #1adf48;
  border: 1px solid #1adf48;
}
.gestor {
  background-color: #dfb11a25;
  color: #dfb11a;
  border: 1px solid #dfb11a;
}

.active {
  transform: scale(1.1);
  transition: all 0.2s ease;
  outline: none;
}

.buttonsArea {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonsArea button {
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

.deleteButton {
  background-color: #bc1f1b;
  color: var(--font_color-primary);
  border: none;
}

.bottonButtons {
  display: flex;
  gap: 0.5rem;
}

.cancelButton {
  background-color: transparent;
  border: 1px solid var(--cinza);
  color: var(--cinza);
}

.saveButton {
  border: none;
  background-color: #df1a1a;
  color: var(--font_color-primary);
}
