.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: var(--vermelho);
  color: var(--font_color-primary);
  width: 300px;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.logoImage {
  height: 40px;
  margin-bottom: 2rem;
  filter: var(--logo-filter);
}

.title {
  font-size: 36px;
  font-weight: 350;
  margin-bottom: 2rem;
}
