.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ff4641;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  padding: 1.5rem 0.5rem;
  width: 100%;
}

.navItem {
  size: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  color: var(--font_color);
  gap: 1rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navIcon{
  width: 35px;
  filter: var(--icon-filter);
  transition: filter 0.3s ease;}

.navItem:hover {
  color: var(--font_color-secondary);
}

.navItem:hover .navIcon {
  filter: var(--icon-filter-hover);
}


.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.navLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navName {
  flex: 1;
  padding: 0 0.4rem;
  font-weight: bold;
}