.input {
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 0.8rem;
  border: 1px solid var(--cinza);
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.2s ease;
  color: black;
}

.default-color {
  color: var(--font_color-secondary);
}

input:focus {
  outline: none;
}
