.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
}

.tableWrapper {
    flex: 1;
    overflow-y: auto;
    border: 1px solid var(--cinza);
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: transparent;
    border-bottom: 1px solid var(--cinza);
}

.table th {
    padding: 0.9rem 0.8rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    color: var(--font_color-secondary);
    border-bottom: 1px solid var(--cinza_medio);
}

.table tbody tr {
    transition: background-color 0.15s ease;
}

.table tbody tr:nth-child(even) {
    background-color: var(--cinza_claro);
}

.table tr:hover {
    background-color: var(--cinza_medio);
}

.table td {
    padding: 0.75rem 0.8rem;
    font-size: 0.95rem;
    color: var(--font_color-secondary);
    border-bottom: 1px solid var(--cinza_medio);
}

.table tbody tr:last-child td {
    border-bottom: 1px solid var(--cinza_medio);
}

.tableWrapper::-webkit-scrollbar {
    width: 8px;
}

.tableWrapper::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

.tableWrapper::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 8px;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

.actionColumn {
    display: flex;
    align-items: center;
    justify-content: center;
}