.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: 25px;
  color: var(--font_color-secondary);
}

.subtitle {
  color: var(--cinza);
}

.headerContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid var(--cinza);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buttonsArea {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.buttonsArea > input {
  padding: 0.5rem 1rem;
  border: 1px solid #a7a7a7;
  border-radius: 0.2rem;
  font-size: 17px;
  background-color: transparent;
  width: 30%;
  margin-right: 3rem;
}

.buttonsArea > input::placeholder {
  color: var(--cinza);
}

.buttonsArea > button {
  padding: 0.5rem 1rem;
  color: var(--cinza);
  border: 1px solid var(--cinza);
  border-radius: 0.2rem;
  font-size: 17px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonsArea > button:hover {
  background-color: var(--cinza);
  color: var(--font_color);
  border-color: var(--cinza);
}

.buttonsArea > button.activeButton {
  background-color: var(--vermelho);
  color: var(--font_color-primary);
  border-color: var(--vermelho);
}

.itemsArea {
  padding: 1rem;
}

.paginationArea {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  color: var(--font_color-secondary);
}

.paginationArea > button {
  color: var(--vermelho);
  border: 1px solid var(--vermelho);
  border-radius: 0.2rem;
  background-color: transparent;
  font-size: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.paginationArea > button:disabled {
  cursor: not-allowed;
  color: var(--cinza);
  border: 1px solid var(--cinza);
}
