.container {
  height: 100vh;
  background: #fff;
  display: flex;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* ocupa todo o espaço que sobrar do sidebar */
}
