.itemContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.6rem 0.4rem;
    border-bottom: 1px solid var(--light-border);
    color: var(--font_color-secondary);
}

.itemContent:last-child {
    border-bottom: none;
}

.itemIdentifier {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
}

.itemIdentifier p {
    font-size: 0.95rem;
    color: var(--font_color-secondary);
}

.itemStatusContainer {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.itemBtnContainer {
    display: flex;
    gap: 0.4rem;
    min-width: fit-content;
}

.itemBtnContainer button {
    width: auto;
}